<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,700' rel='stylesheet' type='text/css'>
#stars
#stars2
#stars3
#moon
  .craterCon
    .craters
  .glow
#title
  %div
    THE
  %div
    SPACE
  %div
    GAME
#subtitle
  %div
    START GAME
  %div
    OPTIONS
  %div
    EXIT
  %div
    @saran5h