<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
#stars
#stars2
#stars3
#horizon
  .glow
#earth
#title
  GRAVITY
#subtitle
  %span
    DONT
  %span
    LET
  %span
    GO